/* Variables */

$primaryColor : rgb(74,103,233);
$primaryTextColor : rgb(255, 255, 255);

$secondaryColor : rgb(232,123,72);
$secondaryTextColor : rgb(0,0,0);

$darkColor1 : rgb(0,61,182);
$darkColor2 : rgb(177,77,28);
$darkColor3 : rgb(95,115,218);

$lightColor1 : rgb(133,148,255);
$lightColor2 : rgb(255,171,117);
$lightColor3 : rgb(161,171,248);
$lightColor4: rgb(215,221,232);

/* End Variables */



/* Mixins */

@mixin leaf() {
    margin: 0;
    width: 4rem;
    height: 4rem;
    position: absolute;
    transform: translate(-50%, -50%);
};

@mixin primaryBorder() {
    border: 0.3rem $primaryColor solid;
};

@mixin secondaryBorder() {
    border: 0.3rem $secondaryColor solid;
};