html {
  height: 150vh;
  font-size: 16px;
  min-width: 20rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 20rem;
  max-width: 37.5rem;
  height: 100%;
  background-color: #6495ED;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
}

i {
  pointer-events: none;
  min-width: 2rem;
  height: 2rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  min-width: 20rem;
  max-width: 37.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F0F8FF;
  border-radius: 0.3rem;
}
.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem auto;
  min-width: 20rem;
  max-width: 37.5rem;
  height: 2rem;
  border-radius: 0.3rem;
}

.main {
  margin-top: 1rem;
  height: auto;
  min-width: 20rem;
  max-width: 37.5rem;
  border-radius: 0.3rem;
  background-color: #F0F8FF;
  overflow-y: auto;
}

.form {
  background-color: #F0F8FF;
  margin: 0 auto;
  padding: 0.9375rem;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
}
.form__text {
  min-width: 8rem;
  height: 1.875rem;
  outline: 0;
  padding: 0rem;
  border: none;
  border-radius: 0.3rem 0rem 0rem 0.3rem;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  color: #595959;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.form__button {
  cursor: pointer;
  min-width: 8rem;
  height: 1.875rem;
  padding: 0rem;
  font-size: 1.5rem;
  background-color: #F0F8FF;
  outline: 0;
  border: none;
  border-radius: 0rem 0.3rem 0.3rem 0rem;
  color: #595959;
}
.form__button:hover {
  color: #228B22;
}

.list {
  padding-left: 0rem;
  list-style: none;
  margin: 1rem auto;
  height: auto;
}
.list__item {
  margin: 0.5rem;
  padding: 0.9375rem 0rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid lightgrey;
  font-size: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #595959;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.list__item--fall {
  -webkit-transform: translateY(12rem) rotateZ(10deg);
          transform: translateY(12rem) rotateZ(10deg);
  opacity: 0;
}
.list__idspan {
  margin: 0rem;
  height: 3rem;
  min-width: 13rem;
}
.list__descspan {
  margin: 0rem;
  height: 3rem;
  min-width: 12rem;
}
.list__checkbtn {
  cursor: pointer;
  min-width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
  background-color: #F0F8FF;
  outline: 0;
  border: none;
  color: #595959;
}
.list__checkbtn:hover {
  color: #6495ED;
}
.list__deletebtn {
  cursor: pointer;
  min-width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
  background-color: #F0F8FF;
  outline: 0;
  border: none;
  color: #595959;
}
.list__deletebtn:hover {
  color: #FF2424;
}
/*# sourceMappingURL=styles.css.map */