@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Poppins',sans-serif;
  text-align: center;
  text-decoration: none;
}

body {
  background-color: #0d0d0d;
  color: #FFFFFF;
  height: 100%;
}

.header {
  height: 20em;
}

.header__searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3em;
}

#site-search {
  width: 10rem;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#site-search:focus {
  width: 80%;
}

.nav__list {
  margin: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.nav__list--item {
  position: relative;
  height: 65px;
  width: 210px;
  margin: 0 10px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #0d0d0d;
  overflow: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.nav__list--item:nth-child(1) {
  color: #1DA1F2;
  border-color: #26a4f2;
}

.nav__list--item:nth-child(2) {
  color: #a50000;
  border-color: #3268bd;
}

.nav__list--item:nth-child(3) {
  color: #ffb400;
  border-color: #a30303;
}

.nav__list--item:nth-child(4) {
  color: #ffc2cd;
  border-color: #ff084a;
}

.nav__list--item:last-child {
  color: #fdff00;
  border-color: #282e3c;
}

.nav__list--item::before, .nav__list--item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  opacity: 0.4s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.nav__list--item::before {
  width: 60px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transform: translateX(-130px) skewX(-45deg);
          transform: translateX(-130px) skewX(-45deg);
}

.nav__list--item::after {
  width: 30px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transform: translateX(-130px) skewX(-45deg);
          transform: translateX(-130px) skewX(-45deg);
}

.nav__list--item:hover::before, .nav__list--item:hover::after {
  opacity: 0.6;
  -webkit-transform: translateX(320px) skewX(-45deg);
          transform: translateX(320px) skewX(-45deg);
}

.nav__list--item:hover {
  color: #f2f2f2;
}

.nav__list--item:hover:nth-child(1) {
  background: #206592;
}

.nav__list--item:hover:nth-child(2) {
  background: #00991f;
}

.nav__list--item:hover:nth-child(3) {
  background: #1d2158;
}

.nav__list--item:hover:nth-child(4) {
  background: #ff93ac;
}

.nav__list--item:hover:last-child {
  background: #988829;
}

#movieContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  list-style-type: none;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 350em;
}

#movieContainer--item {
  width: 32%;
  margin-bottom: 2%;
}

#movieContainer--item:nth-child(3n+1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#movieContainer--item:nth-child(3n+2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#movieContainer--item:nth-child(3n) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

#movieContainer::before, #movieContainer::after {
  content: "";
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
/*# sourceMappingURL=style.css.map */