//! Variables
$colorBlack : #0b0909;
$colorEbony : #44444c;
$colorGray : #8c8c8c;
$colorPewter : #d6d6d6;
$colorRed: #d82429;
$colorGreen: #63b521;


////////////////////////////////

//! Mixins


@keyframes animationFramesWin {
    0% {
        transform:  translate(-370px,0px)  skewX(-30deg) ;
    };
    60% {
        transform:  translate(-40px,0px)  skewX(30deg) ;
    };
    80% {
        transform:  translate(0px,0px)  skewX(-15deg) ;
    };
    100% {
        transform:  translate(0px,0px)  skewX(0deg) ;
    };
};

@keyframes animationFramesLose {
    0% {
        transform:  translate(320px,0px)  skewX(-30deg) ;
    };
    60% {
        transform:  translate(-40px,0px)  skewX(30deg) ;
    };
    80% {
        transform:  translate(0px,0px)  skewX(-15deg) ;
    };
    100% {
        transform:  translate(0px,0px)  skewX(0deg) ;
    };
};
