* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 2rem;
    text-align: center;
}

body {
    background-color: #d7dbdd;
}

main {
    margin: 5%;
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    background-color: #d7dbdd;
}

ul {
    list-style-type: none;
}

i {
    margin: 0.2rem auto;
    cursor: pointer;
}